# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Streamlit and Jupyter
.streamlit/
.ipynb_checkpoints/

# Testing / caching
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
